[Unit]
Description=Fireactions client
Documentation=https://github.com/hostinger/fireactions
After=network.target

[Service]
User={{ fireactions_client_owner }}
Type=simple
ExecStartPre=/usr/bin/which firecracker
ExecStartPre=/usr/bin/which containerd
ExecStart=fireactions client --config {{ fireactions_client_config_file_path }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
