[Unit]
Description=Fireactions
Documentation=https://github.com/hostinger/fireactions
Requires=network.target
After=network.target

[Service]
User={{ fireactions_owner }}
Type=simple
ExecPreStart=/usr/bin/which fireactions
ExecPreStart=/usr/bin/which firecracker
ExecStart=fireactions client start --config {{ fireactions_config_file_path }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
